In [1]:
import pandas as pd
import numpy as np

In [2]:
sample = pd.read_csv('linkedin_page_sample_small.csv')

## 1. Company_name

In [3]:
name_df = sample[['name_oxy', 'name_pdl', 'company_name_iv', 'company_name']]
name_df.dropna(how='all', subset=['name_oxy', 'name_pdl', 'company_name_iv', 'company_name']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_oxy         6815 non-null   object
 1   name_pdl         5931 non-null   object
 2   company_name_iv  528 non-null    object
 3   company_name     10000 non-null  object
dtypes: object(4)
memory usage: 390.6+ KB

In [4]:
with pd.option_context('display.max_colwidth', None):
    display(name_df.dropna())

,name_oxy,name_pdl,company_name_iv,company_name
94,"Vinyl Art, Inc.",vinyl art,"Vinyl Art, Inc.","['vinyl art', 'vinyl art, inc.']"
173,Hovis Orthopaedic Clinic,hovis orthopaedic clinic,"Hovis Orthopaedic Clinic, Pc","['hovis orthopaedic clinic, pc', 'hovis orthopaedic clinic']"
216,Alliance International Forwarders Inc,alliance international forwarders inc,"Alliance International Forwarders, Inc.","['alliance international forwarders inc', 'alliance international forwarders, inc.']"
340,Donmac Precision Machining Inc,donmac precision machining inc,Donmac Precision Machinin,"['donmac precision machining inc', 'donmac precision machinin']"
343,Family Dentistry Of Lititz,family dentistry of lititz,Family Dentistry of Lititz,['family dentistry of lititz']
...,...,...,...,...
9598,"Industrial Fire Systems, Inc.","industrial fire systems, inc.",Industrial Fire Systems Inc.,"['industrial fire systems inc.', 'industrial fire systems, inc.']"
9643,Wellington Management,wellington management,Wellington Management Group LLP,"['wellington management', 'wellington management group llp']"
9759,eVigils,evigils,MITEM Corporation,"['mitem corporation', 'evigils']"
9775,Interstate Office Partitions,interstate office partitions,Interstate Office Partitions Inc,"['interstate office partitions', 'interstate office partitions inc']"
9826,Central Ohio Mobile Monday,central ohio mobile monday,Central Ohio Mco,"['central ohio mco', 'central ohio mobile monday']"

Q1. Why are we keeping punctuation marks and generic words in our output?

## 2. company_employee_number

In [5]:
employ_df = sample[['estimated_number_employees_iv', 'employees_on_linkedin_oxy', 'estimated_current_number_of_emplyees_pdl',
                    'total_estimated_number_of_employees_pdl', 'company_employee_number']]
employ_df

,estimated_number_employees_iv,employees_on_linkedin_oxy,estimated_current_number_of_emplyees_pdl,total_estimated_number_of_employees_pdl,company_employee_number
0,0.0,9.0,18.0,52.0,"[0.0, 9.0, 18.0, 52.0]"
1,0.0,19.0,3.0,5.0,"[0.0, 19.0, 3.0, 5.0]"
2,0.0,0.0,26.0,53.0,"[0.0, 26.0, 53.0]"
3,0.0,0.0,2.0,2.0,"[0.0, 2.0]"
4,0.0,0.0,11.0,18.0,"[0.0, 18.0, 11.0]"
...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,[0.0]
9996,0.0,0.0,72.0,166.0,"[72.0, 0.0, 166.0]"
9997,0.0,0.0,6.0,18.0,"[0.0, 18.0, 6.0]"
9998,0.0,0.0,1.0,1.0,"[0.0, 1.0]"
9999,0.0,0.0,0.0,3.0,"[0.0, 3.0]"

In [6]:
cols = ['estimated_number_employees_iv', 'employees_on_linkedin_oxy', 'estimated_current_number_of_emplyees_pdl',
                    'total_estimated_number_of_employees_pdl']
employ_df[cols].replace({0:np.nan}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   estimated_number_employees_iv             528 non-null    float64
 1   employees_on_linkedin_oxy                 2960 non-null   float64
 2   estimated_current_number_of_emplyees_pdl  4716 non-null   float64
 3   total_estimated_number_of_employees_pdl   5931 non-null   float64
dtypes: float64(4)
memory usage: 312.6 KB

In [7]:
print('We have no employment data for {:.2%} of the companies'.
      format(len(employ_df[employ_df['company_employee_number']=='[0.0]'])/len(employ_df)))

We have no employment data for 27.28% of the companies

Q2. Can we say that values = 0 are nulls? 

Q3. Most of the employment info comes from pdl. What is the difference between the estimated_pdl and the total_estimated_pdl columns?

## 3. emp_range

In [8]:
emprange_df = sample[['number_of_employees_oxy', 'estimated_range_of_employees_pdl', 'company_employee_range']]
emprange_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   number_of_employees_oxy           5673 non-null   object
 1   estimated_range_of_employees_pdl  5931 non-null   object
 2   company_employee_range            10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [9]:
emprange_df.dropna(how='all', subset=['number_of_employees_oxy', 'estimated_range_of_employees_pdl']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   number_of_employees_oxy           5673 non-null   object
 1   estimated_range_of_employees_pdl  5931 non-null   object
 2   company_employee_range            8807 non-null   object
dtypes: object(3)
memory usage: 275.2+ KB

In [10]:
emprange_df[(emprange_df['number_of_employees_oxy'].isnull()) & (emprange_df['estimated_range_of_employees_pdl']).isnull()]

,number_of_employees_oxy,estimated_range_of_employees_pdl,company_employee_range
17,NaN,NaN,['']
18,NaN,NaN,['']
19,NaN,NaN,['']
26,NaN,NaN,['']
28,NaN,NaN,['']
...,...,...,...
9963,NaN,NaN,['']
9964,NaN,NaN,['']
9965,NaN,NaN,['']
9967,NaN,NaN,['']
9987,NaN,NaN,['']

In [11]:
emprange_df['diff_vals'] =  emprange_df['company_employee_range'].apply(lambda x: x.count(','))
print('Companies whose range from the 2 sources do not match: {:.2%}'.format(emprange_df['diff_vals'].sum()/len(emprange_df)))

Companies whose range from the 2 sources do not match: 71.73%

<ipython-input-11-087cdaf76c36>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emprange_df['diff_vals'] =  emprange_df['company_employee_range'].apply(lambda x: x.count(','))

## 4. year_founded

In [12]:
yf_df = sample[['year_founded_oxy', 'year_founded_pdl', 'year_founded']]
yf_df.replace({0:np.nan}).dropna(how='all', subset=['year_founded_oxy', 'year_founded_pdl'])

      year_founded_oxy  year_founded_pdl   year_founded
2                  NaN            1985.0  [0.0, 1985.0]
4                  NaN            1984.0  [0.0, 1984.0]
6               1989.0            1989.0       [1989.0]
7               2002.0            2002.0       [2002.0]
8                  NaN            2015.0  [0.0, 2015.0]
...                ...               ...            ...
9990            1994.0            1994.0       [1994.0]
9991            2004.0               NaN  [0.0, 2004.0]
9996               NaN            1991.0  [0.0, 1991.0]
9997               NaN            2017.0  [0.0, 2017.0]
9999               NaN            2004.0  [0.0, 2004.0]

[4041 rows x 3 columns]

Q4. Can we remove nulls from output? 

## 5. company_industry

In [13]:
ind_df = sample[['company_industry_oxy' ,'company_industry_pdl', 'company_industry_iv', 'company_industry']]
ind_df

,company_industry_oxy,company_industry_pdl,company_industry_iv,company_industry
0,Construction,construction,NaN,"['', 'construction']"
1,NaN,"health, wellness and fitness",NaN,"['', 'health, wellness and fitness']"
2,NaN,hospital & health care,NaN,"['', 'hospital & health care']"
3,NaN,higher education,NaN,"['', 'higher education']"
4,NaN,real estate,NaN,"['', 'real estate']"
...,...,...,...,...
9995,Education Management,NaN,NaN,"['', 'education management']"
9996,NaN,banking,NaN,"['', 'banking']"
9997,NaN,computer software,NaN,"['', 'computer software']"
9998,NaN,music,NaN,"['', 'music']"
9999,NaN,internet,NaN,"['', 'internet']"

In [14]:
ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_industry_oxy  6002 non-null   object
 1   company_industry_pdl  5673 non-null   object
 2   company_industry_iv   522 non-null    object
 3   company_industry      10000 non-null  object
dtypes: object(4)
memory usage: 312.6+ KB

In [15]:
ind_df['ind_count'] =  ind_df['company_industry'].apply(lambda x: x.count(',')-x.count("''")+1)
print('Companies with different industries : {:.2%}'.format(len(ind_df[ind_df['ind_count']>1])/len(ind_df)))

Companies with different industries : 6.81%

<ipython-input-15-e030896bc1ab>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind_df['ind_count'] =  ind_df['company_industry'].apply(lambda x: x.count(',')-x.count("''")+1)

In [16]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(ind_df[(ind_df['ind_count']>1) & (ind_df['company_industry_iv'].notnull())])

,company_industry_oxy,company_industry_pdl,company_industry_iv,company_industry,ind_count
94,Plastics,plastics,Chemicals,"['plastics', 'chemicals']",2
173,Medical Practice,medical practice,Hospitals and Healthcare,"['hospitals and healthcare', 'medical practice']",2
178,Accounting,NaN,Automotive,"['', 'automotive', 'accounting']",2
179,Consumer Services,NaN,Consumer Product Manufacturing,"['', 'consumer services', 'consumer product ma...",2
216,Logistics and Supply Chain,logistics and supply chain,Transportation,"['logistics and supply chain', 'transportation']",2
227,Retail,NaN,Real Estate,"['', 'retail', 'real estate']",2
340,Electrical/Electronic Manufacturing,electrical/electronic manufacturing,Industrial Manufacturing and Services,"['electrical/electronic manufacturing', 'indus...",2
343,Medical Practice,medical practice,Hospitals and Healthcare,"['hospitals and healthcare', 'medical practice']",2
445,Biotechnology,biotechnology,Pharmaceuticals and Biotechnology,"['biotechnology', 'pharmaceuticals and biotech...",2
485,NaN,building materials,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation', 'buildi...",3
585,Legal Services,legal services,Corporate Services,"['corporate services', 'legal services']",2
588,Accounting,NaN,Financial Services,"['', 'accounting', 'financial services']",2
639,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
675,Hospital & Health Care,hospital & health care,Consumer Services,"['hospital & health care', 'consumer services']",2
722,Hospitality,hospitality,Food and Beverage,"['hospitality', 'food and beverage']",2
766,Information Technology and Services,information technology and services,Corporate Services,"['corporate services', 'information technology...",2
807,Marketing and Advertising,marketing and advertising,"Leisure, Sports and Recreation","['marketing and advertising', 'leisure, sports...",3
836,NaN,"health, wellness and fitness",Hospitals and Healthcare,"['', 'hospitals and healthcare', 'health, well...",3
852,NaN,marketing and advertising,Corporate Services,"['', 'corporate services', 'marketing and adve...",2
860,Aviation & Aerospace,aviation & aerospace,Transportation,"['transportation', 'aviation & aerospace']",2
1022,Construction,construction,Agriculture and Forestry,"['agriculture and forestry', 'construction']",2
1041,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
1053,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
1057,Mining & Metals,mining & metals,Retail,"['mining & metals', 'retail']",2
1069,Nonprofit Organization Management,non-profit organization management,Corporate Services,"['corporate services', 'non-profit organizatio...",3
1100,Luxury Goods & Jewelry,luxury goods & jewelry,Industrial Manufacturing and Services,"['luxury goods & jewelry', 'industrial manufac...",2
1118,NaN,banking,Banks,"['', 'banks', 'banking']",2
1239,Medical Devices,electrical/electronic manufacturing,Industrial Manufacturing and Services,"['electrical/electronic manufacturing', 'indus...",3
1276,Security and Investigations,security and investigations,Consumer Product Manufacturing,"['consumer product manufacturing', 'security a...",2
1336,Computer Software,computer software,Construction and Building Materials,"['construction and building materials', 'compu...",2
1448,Transportation/Trucking/Railroad,NaN,Transportation,"['', 'transportation/trucking/railroad', 'tran...",2
1507,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
1540,Chemicals,NaN,Corporate Services,"['', 'corporate services', 'chemicals']",2
1548,Information Technology and Services,NaN,Transportation,"['', 'information technology and services', 't...",2
1561,Financial Services,financial services,Banks,"['banks', 'financial services']",2
1571,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
1604,Furniture,furniture,Retail,"['retail', 'furniture']",2
1740,Building Materials,building materials,Consumer Product Manufacturing,"['consumer product manufacturing', 'building m...",2
1791,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
1818,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
1842,Construction,NaN,Consumer Product Manufacturing,"['', 'construction', 'consumer product manufac...",2
1851,Human Resources,NaN,Real Estate,"['', 'human resources', 'real estate']",2
1868,Farming,farming,Transportation,"['transportation', 'farming']",2
1882,NaN,information technology and services,Corporate Services,"['', 'corporate services', 'information techno...",2
1891,Wireless,wireless,Computer Hardware,"['wireless', 'computer hardware']",2
1931,Hospitality,NaN,"Leisure, Sports and Recreation","['', 'hospitality', 'leisure, sports and recre...",3
2006,Hospitality,hospitality,"Leisure, Sports and Recreation","['hospitality', 'leisure, sports and recreation']",3
2098,NaN,machinery,Construction and Building Materials,"['', 'construction and building materials', 'm...",2
2099,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
2116,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
2133,NaN,events services,Consumer Product Manufacturing,"['', 'events services', 'consumer product manu...",2
2143,Food Production,NaN,Construction and Building Materials,"['food production', '', 'construction and buil...",2
2295,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
2322,Oil & Energy,oil & energy,Transportation,"['transportation', 'oil & energy']",2
2335,Printing,NaN,Corporate Services,"['', 'corporate services', 'printing']",2
2393,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
2486,Biotechnology,biotechnology,Pharmaceuticals and Biotechnology,"['biotechnology', 'pharmaceuticals and biotech...",2
2686,Real Estate,real estate,"Civic, Non-Profit and Membership Groups","['real estate', 'civic, non-profit and members...",3
2720,Food & Beverages,food & beverages,Food and Beverage,"['food & beverages', 'food and beverage']",2
2753,Electrical/Electronic Manufacturing,electrical/electronic manufacturing,Construction and Building Materials,"['construction and building materials', 'elect...",2
2782,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
2794,Electrical/Electronic Manufacturing,NaN,Construction and Building Materials,"['', 'construction and building materials', 'e...",2
2857,Philanthropy,philanthropy,"Civic, Non-Profit and Membership Groups","['civic, non-profit and membership groups', 'p...",3
2871,Management Consulting,mechanical or industrial engineering,Construction and Building Materials,"['management consulting', 'construction and bu...",3
2894,NaN,marketing and advertising,Media,"['', 'media', 'marketing and advertising']",2
2899,Electrical/Electronic Manufacturing,electrical/electronic manufacturing,Industrial Manufacturing and Services,"['electrical/electronic manufacturing', 'indus...",2
2902,NaN,real estate,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation', 'real e...",3
2948,NaN,building materials,Construction and Building Materials,"['', 'construction and building materials', 'b...",2
3003,Oil & Energy,NaN,Energy and Environmental,"['', 'oil & energy', 'energy and environmental']",2
3110,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
3113,NaN,food & beverages,Consumer Services,"['', 'consumer services', 'food & beverages']",2
3126,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
3211,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
3349,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
3372,Construction,NaN,Corporate Services,"['', 'corporate services', 'construction']",2
3438,Fishery,NaN,Retail,"['', 'fishery', 'retail']",2
3471,Medical Practice,medical practice,Hospitals and Healthcare,"['hospitals and healthcare', 'medical practice']",2
3505,NaN,environmental services,Agriculture and Forestry,"['', 'environmental services', 'agriculture an...",2
3522,Veterinary,veterinary,Consumer Services,"['consumer services', 'veterinary']",2
3554,NaN,marketing and advertising,Corporate Services,"['', 'corporate services', 'marketing and adve...",2
3578,NaN,packaging and containers,Consumer Product Manufacturing,"['', 'packaging and containers', 'consumer pro...",2
3667,Marketing and Advertising,marketing and advertising,Corporate Services,"['corporate services', 'marketing and advertis...",2
3681,Sports,sports,"Leisure, Sports and Recreation","['sports', 'leisure, sports and recreation']",3
3733,Information Technology and Services,information technology and services,Computer Software,"['information technology and services', 'compu...",2
3737,NaN,"health, wellness and fitness",Hospitals and Healthcare,"['', 'hospitals and healthcare', 'health, well...",3
3787,Government Administration,government administration,Hospitals and Healthcare,"['government administration', 'hospitals and h...",2
4020,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
4060,Environmental Services,environmental services,Construction and Building Materials,"['environmental services', 'construction and b...",2
4075,Information Technology and Services,information technology and services,Corporate Services,"['corporate services', 'information technology...",2
4093,Insurance,NaN,Corporate Services,"['insurance', '', 'corporate services']",2
4114,Transportation/Trucking/Railroad,transportation/trucking/railroad,Retail,"['transportation/trucking/railroad', 'retail']",2
4256,Sporting Goods,sporting goods,Retail,"['retail', 'sporting goods']",2
4264,NaN,entertainment,Energy and Environmental,"['', 'entertainment', 'energy and environmental']",2
4309,Construction,NaN,Construction and Building Materials,"['', 'construction', 'construction and buildin...",2
4334,Sports,NaN,"Leisure, Sports and Recreation","['', 'sports', 'leisure, sports and recreation']",3
4337,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
4350,Hospital & Health Care,hospital & health care,Hospitals and Healthcare,"['hospital & health care', 'hospitals and heal...",2
4408,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
4431,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
4453,Computer Software,computer software,Consumer Services,"['consumer services', 'computer software']",2
4490,Machinery,machinery,Automotive,"['automotive', 'machinery']",2
4542,Information Technology and Services,NaN,Construction and Building Materials,"['', 'information technology and services', 'c...",2
4573,Recreational Facilities and Services,NaN,Retail,"['', 'retail', 'recreational facilities and se...",2
4574,NaN,information technology and services,Transportation,"['', 'information technology and services', 't...",2
4589,Management Consulting,management consulting,Corporate Services,"['corporate services', 'management consulting']",2
4646,Staffing and Recruiting,staffing and recruiting,Corporate Services,"['staffing and recruiting', 'corporate services']",2
4694,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
4712,Accounting,accounting,Financial Services,"['accounting', 'financial services']",2
4722,Entertainment,entertainment,Corporate Services,"['entertainment', 'corporate services']",2
4744,Food & Beverages,food & beverages,"Leisure, Sports and Recreation","['food & beverages', 'leisure, sports and recr...",3
4806,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
4809,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
4882,Publishing,publishing,Corporate Services,"['corporate services', 'publishing']",2
4912,Consumer Services,NaN,Corporate Services,"['', 'consumer services', 'corporate services']",2
4952,Hospital & Health Care,hospital & health care,Hospitals and Healthcare,"['hospital & health care', 'hospitals and heal...",2
5023,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
5030,Oil & Energy,oil & energy,Energy and Environmental,"['oil & energy', 'energy and environmental']",2
5086,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
5091,Aviation & Aerospace,aviation & aerospace,Energy and Environmental,"['energy and environmental', 'aviation & aeros...",2
5145,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
5232,Marketing and Advertising,marketing and advertising,Corporate Services,"['corporate services', 'marketing and advertis...",2
5249,NaN,NaN,"Civic, Non-Profit and Membership Groups","['', 'civic, non-profit and membership groups']",2
5297,NaN,information technology and services,Telecommunications,"['', 'information technology and services', 't...",2
5336,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
5385,Environmental Services,environmental services,Corporate Services,"['environmental services', 'corporate services']",2
5423,NaN,"health, wellness and fitness",Hospitals and Healthcare,"['', 'hospitals and healthcare', 'health, well...",3
5426,Veterinary,veterinary,Consumer Services,"['consumer services', 'veterinary']",2
5486,Facilities Services,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation', 'facili...",3
5558,Libraries,libraries,"Leisure, Sports and Recreation","['leisure, sports and recreation', 'libraries']",3
5593,Farming,farming,Retail,"['retail', 'farming']",2
5607,Investment Management,investment management,Financial Services,"['financial services', 'investment management']",2
5751,Farming,farming,Retail,"['retail', 'farming']",2
5853,Real Estate,NaN,Food and Beverage,"['real estate', '', 'food and beverage']",2
5868,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
5896,NaN,NaN,"Civic, Non-Profit and Membership Groups","['', 'civic, non-profit and membership groups']",2
5949,Internet,internet,Corporate Services,"['corporate services', 'internet']",2
5990,NaN,sports,Retail,"['', 'retail', 'sports']",2
5993,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
6065,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
6115,Government Administration,government administration,"Leisure, Sports and Recreation","['government administration', 'leisure, sports...",3
6176,Performing Arts,performing arts,Corporate Services,"['corporate services', 'performing arts']",2
6221,Architecture & Planning,architecture & planning,Construction and Building Materials,"['construction and building materials', 'archi...",2
6355,Packaging and Containers,packaging and containers,Consumer Product Manufacturing,"['packaging and containers', 'consumer product...",2
6372,Machinery,machinery,Industrial Manufacturing and Services,"['industrial manufacturing and services', 'mac...",2
6401,Education Management,education management,Schools and Education,"['education management', 'schools and education']",2
6424,Investment Banking,investment banking,Financial Services,"['investment banking', 'financial services']",2
6445,Retail,retail,Media,"['media', 'retail']",2
6538,Information Technology and Services,NaN,Retail,"['', 'information technology and services', 'r...",2
6578,Education Management,NaN,Schools and Education,"['', 'education management', 'schools and educ...",2
6582,Biotechnology,biotechnology,Pharmaceuticals and Biotechnology,"['biotechnology', 'pharmaceuticals and biotech...",2
6630,Hospitality,hospitality,"Leisure, Sports and Recreation","['hospitality', 'leisure, sports and recreation']",3
6675,Oil & Energy,oil & energy,Automotive,"['automotive', 'oil & energy']",2
6711,Internet,internet,Corporate Services,"['corporate services', 'internet']",2
6736,Wholesale,wholesale,Food and Beverage,"['wholesale', 'food and beverage']",2
6758,Biotechnology,biotechnology,Industrial Manufacturing and Services,"['biotechnology', 'industrial manufacturing an...",2
6827,NaN,machinery,Consumer Services,"['', 'consumer services', 'machinery']",2
6828,Paper & Forest Products,NaN,Construction and Building Materials,"['', 'construction and building materials', 'p...",2
6872,Pharmaceuticals,NaN,Real Estate,"['', 'pharmaceuticals', 'real estate']",2
6884,Consumer Goods,consumer goods,Consumer Product Manufacturing,"['consumer product manufacturing', 'consumer g...",2
6933,Real Estate,real estate,Construction and Building Materials,"['real estate', 'construction and building mat...",2
6946,Medical Devices,medical devices,Hospitals and Healthcare,"['hospitals and healthcare', 'medical devices']",2
7034,Hospitality,hospitality,"Leisure, Sports and Recreation","['hospitality', 'leisure, sports and recreation']",3
7103,Real Estate,NaN,Banks,"['real estate', '', 'banks']",2
7175,Law Enforcement,NaN,Consumer Services,"['', 'consumer services', 'law enforcement']",2
7185,Mechanical or Industrial Engineering,mechanical or industrial engineering,Industrial Manufacturing and Services,"['mechanical or industrial engineering', 'indu...",2
7217,NaN,business supplies and equipment,Consumer Product Manufacturing,"['', 'consumer product manufacturing', 'busine...",2
7246,Legal Services,legal services,Corporate Services,"['corporate services', 'legal services']",2
7304,Banking,banking,Financial Services,"['banking', 'financial services']",2
7333,Computer Networking,computer networking,Hospitals and Healthcare,"['computer networking', 'hospitals and healthc...",2
7338,Construction,construction,Industrial Manufacturing and Services,"['construction', 'industrial manufacturing and...",2
7371,Financial Services,NaN,Banks,"['', 'banks', 'financial services']",2
7413,Machinery,NaN,Consumer Product Manufacturing,"['', 'consumer product manufacturing', 'machin...",2
7461,Real Estate,real estate,Financial Services,"['real estate', 'financial services']",2
7483,Marketing and Advertising,marketing and advertising,Corporate Services,"['corporate services', 'marketing and advertis...",2
7557,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
7596,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
7633,Construction,NaN,Construction and Building Materials,"['', 'construction', 'construction and buildin...",2
7648,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
7687,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
7688,Construction,construction,Construction and Building Materials,"['construction', 'construction and building ma...",2
7725,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
7898,Human Resources,human resources,Consumer Services,"['consumer services', 'human resources']",2
7978,Hospitality,NaN,"Leisure, Sports and Recreation","['', 'hospitality', 'leisure, sports and recre...",3
8009,Hospital & Health Care,hospital & health care,Hospitals and Healthcare,"['hospital & health care', 'hospitals and heal...",2
8027,NaN,NaN,"Leisure, Sports and Recreation","['', 'leisure, sports and recreation']",2
8197,NaN,wholesale,Industrial Manufacturing and Services,"['', 'wholesale', 'industrial manufacturing an...",2
8313,Human Resources,human resources,Schools and Education,"['schools and education', 'human resources']",2

Trying to help with the multiple industries problem. It might be that the industry coming from the iv database is not accurate.